body {
    .loginBox, .gameContainer {
        display: none;
    }
    &.loggedOut {
        .loginBox {
            display: block;
        }
    }
    &.loggedIn {
        .gameContainer {
            display: block;
        }
    }
}